<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 250px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
   <div id="map"></div>
    <script>

     function initMap(x, y) {
      if (x == null && y==null) {
            x = 40.726425;
            y = -74.06105509999998;
          }
        var myLatLng = {lat: x, lng: y};


        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
          google.maps.event.addListener(map, "click", function(event) {
              var lat = event.latLng.lat();
              var lng = event.latLng.lng();
              $("#longlati").text("Latitude: "+lat+", Longitude: "+lng);
              document.getElementById('latitude').value = lat;
              document.getElementById('longitude').value = lng;
              initMap(lat, lng);
              // alert("Lat=" + lat + "; Lng=" + lng+', '+address);
          });

      }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMAWPMDGHGh-KUNMkjSIlMBD1JMtTfbxk&callback=initMap">
    </script>
  </body>
</html>