<% include partials/blankheader.ejs %>
<link href="theme/css/postadd.css" rel="stylesheet">    

  <!-- Start Proerty header  -->

  <section id="aa-property-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-property-header-inner">
            <h2>Properties Details</h2>
            <ol class="breadcrumb">
            <li><a href="#">HOME</a></li>            
            <li class="active">APPARTMENT TITLE</li>
          </ol>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <!-- End Proerty header  -->
 

  <!-- Start Properties  -->
  <section id="aa-properties">
    <div class="container">
      <div class="row">

        <div class="col-md-8">
          <div class="aa-properties-content">            
            <!-- Start properties content body -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <input id="address" type="text" value="10 front street, jersey city, new jersey, 07303" placeholder="Enter address here" />

   

            <div class="aa-properties-details">
            <h1>Post New Property</h1>
            <table width="100%">
            <tr>
            <td>
            <input type="file" name="file" id="file"/></td><td><input type="file" name="file" id="file2"/><input type="hidden" id="image2" name="image2"></td></tr>
            <tr>
            <td>
            <input type="file" name="file" id="file3"/><input type="hidden" id="image3" name="image3"></td>
            <td><input type="file" name="file" id="file4"/><input type="hidden" id="image4" name="image4"></td></tr></table>
          
          
           <form method="post" action="postproperty">
                <input type="text" name="timestamp" id="timestamp" placeholder="timestamp"><br><br>
                <input type="hidden" id="image1" name="image1">
                <input type="text" name="phone" placeholder="Phone">
                <input type="text" name="email" placeholder="Email">
                <input type="text" name="telephone" placeholder="Telephone"><br><br>
                <input type="hidden" name="latitude" id="latitude" placeholder="longitude" readonly="true">
                <input type="hidden" name="longitude" id="longitude" placeholder="latitude" readonly="true">

                <% include partials/map.ejs %>
                <p id="longlati"></p>
                <input type="text" name="posttime" id="posttime" placeholder="Street Address"><br><br>
                <input type="text" name="staddress" id="staddress" placeholder="Street Address">
                <input type="text" name="city" id="city" placeholder=" city">
                <input type="text" name="state" id="state" placeholder=" state"><br><br>
                <input type="text" name="zip" id="zip" placeholder=" zip">
                <input type="text" name="county" placeholder=" county">
                <input type="text" name="country" placeholder=" country"><br><br>
                <select id="categoryselect">
                  <option value="Other">Category</option>
                  <option value="Houses">Houses</option>
                  <option value="Appartments">Appartment</option>
                  <option value="Shop">Shop</option>
                  <option value="Paying Guest">Paying Guest</option>
                  <option value="Town Home">Town Home</option>
                  <option value="Farm House">Farm House</option>
                </select>
                <select id="addselect">
                  <option value="Sale">Type</option>
                  <option value="Sale">For Sale</option>
                  <option value="Rent">For Rent</option>
                </select><br><br>
                <input type="number" name="bedroom" placeholder="Bedroom">
                <input type="number" name="kitchen" placeholder="Kitchen">
                <input type="number" name="bathroom" placeholder="Bathroom"><br><br>
                <input type="hidden" name="propertytype" id="propertytype" placeholder="propertytype">
                <input type="hidden" name="addtype" id="addtype" placeholder="propertytype"><br><br>
                <input type="number" name="area" placeholder="Area in sq feets">
                <input type="number" name="cost" placeholder="Price in USD">
                <input type="text" name="discription" placeholder="Discription"><br><br>

                <input type="submit" style="display:none;" id="submitForm" value="Post Add">
              </form>
              <button id="uploadimage">Save Post</button><div id="loader"></div>

              <div id="lodardiv"></div>
              <div id="div1" style="display:none;">Upload image 1: <b>Successfull</b></div>
              <div id="div2" style="display:none;">Upload image 2: <b>Successfull</b></div>
              <div id="div3" style="display:none;">Upload image 3: <b>Successfull</b></div>
              <div id="div4" style="display:none;">Upload image 4: <b>Successfull</b></div>
              <div id="div5" style="display:none;">Submitting - Property : <b>DONE</b></div><br>
            </div>          
          </div>
        </div>
        <!-- Start properties sidebar -->
        <div class="col-md-4">
          <aside class="aa-properties-sidebar">
            <!-- Start Single properties sidebar -->
            <div class="aa-properties-single-sidebar">
              <h3>Properties Search</h3>
              <form action="">
                <div class="aa-single-advance-search">
                  <input type="text" placeholder="Type Your Location">
                </div>
                <div class="aa-single-advance-search">
                  <select id="" name="">
                   <option selected="" value="0">Category</option>
                    <option value="1">Flat</option>
                    <option value="2">Land</option>
                    <option value="3">Plot</option>
                    <option value="4">Commercial</option>
                  </select>
                </div>
                <div class="aa-single-advance-search">
                  <select id="" name="">
                    <option selected="" value="0">Type</option>
                    <option value="1">Flat</option>
                    <option value="2">Land</option>
                    <option value="3">Plot</option>
                    <option value="4">Commercial</option>
                  </select>
                </div>
                <div class="aa-single-advance-search">
                  <select id="" name="">
                    <option selected="" value="0">Type</option>
                    <option value="1">Flat</option>
                    <option value="2">Land</option>
                    <option value="3">Plot</option>
                    <option value="4">Commercial</option>
                  </select>
                </div>
                <div class="aa-single-filter-search">
                  <span>AREA (SQ)</span>
                  <span>FROM</span>
                  <span id="skip-value-lower" class="example-val">30.00</span>
                  <span>TO</span>
                  <span id="skip-value-upper" class="example-val">100.00</span>
                  <div id="aa-sqrfeet-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                  </div>                  
                </div>
                <div class="aa-single-filter-search">
                  <span>PRICE ($)</span>
                  <span>FROM</span>
                  <span id="skip-value-lower2" class="example-val">30.00</span>
                  <span>TO</span>
                  <span id="skip-value-upper2" class="example-val">100.00</span>
                  <div id="aa-price-range" class="noUi-target noUi-ltr noUi-horizontal noUi-background">
                  </div>      
                </div>
                <div class="aa-single-advance-search">
                  <input type="submit" value="Search" class="aa-search-btn">
                </div>
              </form>
            </div> 
            <!-- Start Single properties sidebar -->
            <div class="aa-properties-single-sidebar">
              <h3>Populer Properties</h3>
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="theme/img/item/1.jpg" alt="img">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">This is Title</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>                
                  <span>$65000</span>
                </div>              
              </div>
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="theme/img/item/1.jpg" alt="img">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">This is Title</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>                
                  <span>$65000</span>
                </div>              
              </div>
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="theme/img/item/1.jpg" alt="img">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="#">This is Title</a></h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>                
                  <span>$65000</span>
                </div>              
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </section>
  <!-- / Properties  -->

  <!-- Footer -->
  <footer id="aa-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <div class="aa-footer-area">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aa-footer-left">
               <p>Designed by <a rel="nofollow" href="http://www.markups.io/">MarkUps.io</a></p>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="aa-footer-middle">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
              <div class="aa-footer-right">
                <a href="#">Home</a>
                <a href="#">Support</a>
                <a href="#">License</a>
                <a href="#">FAQ</a>
                <a href="#">Privacy & Term</a>
              </div>
            </div>            
          </div>
        </div>
      </div>
      </div>
    </div>
  </footer>
  <!-- / Footer -->

<!-- jQuery library -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
  <script src="theme/js/jquery.min.js"></script>   
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="theme/js/bootstrap.js"></script>   
  <!-- slick slider -->
  <script type="text/javascript" src="theme/js/slick.js"></script>
  <!-- Price picker slider -->
  <script type="text/javascript" src="theme/js/nouislider.js"></script>
  
  <!-- Custom js -->
  <script src="theme/js/custom.js"></script> 
    <script type="text/javascript" src="theme/js/postadd.js"></script>


  </body>
</html>