<!DOCTYPE html>
<html>
<head>
<title>REGISTER / LOGIN / RESET PASSWORD</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Collective Forms Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
  <link  rel="stylesheet" type="text/css" media="all" href="/css/signupin/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,300italic,600italic,700' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="main"> <form method="POST" action="/users/add">
                    <input type="text" class="fbinput" name="firstname" id="fb_fname" placeholder="First Name"><br><br>
                    <input type="text" class="fbinput" name="lastname" id="fb_lname" placeholder="Last Name"><br><br>
                    <input type="text" class="fbinput" name="email" id="fb_email" placeholder="Email address"><br><br>
                    <input type="text" class="fbinput" name="phone" id="fb_phone" placeholder="Phone Number"><br><br>
                    <input type="text" class="fbinput" name="gender" id="fb_gender" placeholder="Gender"><br><br>
                    <a id="fblink" href="" target="_blank">Your Facebook timeline</a><br><br>
                    <input type="hidden" class="fbinput" name="website" id="fb_fbprofile" placeholder="Website">
                    <input type="hidden" class="fbinput" name="fbid" id="fb_id" placeholder="Password">
                    <input type="hidden" class="fbinput" name="photo" id="fb_photo" placeholder="Just for reference">
                <input class="crhad" type="submit" value="Log In">
              </form>
          Photo link<input type="text" class="" name="photo" id="test" placeholder="Photo link"> 
		<h1>REGISTER / LOGIN / RESET PASSWORD</h1>
		<div class="wthree_top_forms">
			<div class="agile-info_w3ls hvr-buzz-out">
				<h3>Register</h3>
				<div class="agile-info_w3ls_grid">
					<form method="POST" action="/users/add" autocomplete="off">
					    <input type="text" class="halflogintext" name="firstname" placeholder="Full Name"><br>
					    <input type="email" class="halflogintext" name="email" placeholder="Email address">
					    <input type="text" id="phone" class="halflogintext" name="phone" placeholder="Phone Number"><br><br>
					    <input type="text" class="logintext" name="website" placeholder="Website"><br><br>
					    <input type="text" name="gender" value="Gender" placeholder="Gender"><br><br>
					    <input type="password" class="logintext" name="password" placeholder="Password"><br>
					    <input type="hidden" class="logintext" name="photo" value="https://image.freepik.com/free-icon/male-profile-user-shadow_318-40244.jpg"><br>
					    <input class="crhad" type="submit" value="submit">
					</form>
 
					<h5>Already a member? <a href="#">Sign In</a></h5>
				</div>
			</div>
			<div class="agile-info_w3ls agile-info_w3ls_sub hvr-buzz-out">
				<h3>Login</h3>
				<div class="agile-info_w3ls_grid second">
  					<form method="POST" action="/login">
      					<input type="email" placeholder="Enter Username" name="email" required>
      					<input type="password" placeholder="Enter Password" name="password" required>
					
					<div class="agile_remember">
						<div class="agile_remember_left">
							<div class="check">
								<label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>remember me</label>
							</div>
						</div>
						<div class="agile_remember_right">
							<a href="#">Forgot Password?</a>
						</div>
						<div class="clear"> </div>
					</div>
						<input type="submit" value="Sign In">
					</form>
					<h4>Continue With</h4>
					<div class="social_icons agileinfo">
					   <section class="social">    
					   <% include partials/fboauth %>
					   <br><br><p style="font-size: 23px; color: white">Login with Facebook</p>
						</section>
					</div>
					<h5>Don't have an account? <a href="#">Sign Up</a></h5>
				</div>
			</div>
			<div class="agile-info_w3ls third hvr-buzz-out">
				<h3>Account Reset</h3>
				<div class="agile-info_w3ls_grid third">
					<form action="#" method="post">
						<input type="password" name="Password" placeholder="New Password" required=" ">
						<input type="password" name="Password" placeholder="Confirm Password" required=" ">
						<p class="asd"><a href="#">Great passwords</a> use upper and lower case
							characters, numbers and symbols like "!@#$*.</p>
						<input type="reset" value="Reset Password">
						<input type="submit" value="Send">
					</form>
					<h5 class="rest">Already a member? <a href="#">Sign In</a></h5>
				</div>
			</div>
			<div class="clear"> </div>
		</div>
		<div class="agileits_copyright">
			<p>© 2016 Collective Forms Widget. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		</div>
	</div>

</body>
</html>